@import '../sass/main';

.about-me {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light-2, .7), rgba($color-primary-dark, .95)), url('../../assets/leaf-pattern.jpg');
    background-size: cover;
    color: $color-grey-light;
    text-align: center;
    @include border-frame;

    &__heading {
        padding-top: 10rem;
        font-size: $medium-font-size;
    }

    &__image {
        border-radius: 50%;
        width: 25rem;
        height: 25rem;
        background-image: url('../../assets/self.jpg');
        background-size: cover;
        display: inline-block;
        margin-top: 5rem;
    }

    &__content {
        max-width: 130rem;
        font-size: $default-font-size;
        letter-spacing: 2px;
        width: 70%;
        font-weight: 300;
        margin: 0 auto;
        padding: 5rem 0 15rem;
    }

    &__arrow {
        color: $color-grey-light;
        @include horizontal-center;
        top: 97%;
    }
}

// for small devices
@media only screen and (max-width: $small-screen) {
    .about-me {
        &__heading {
            font-size: $default-font-size;
        }
        &__content {
            font-size: $small-font-size;
        }
    }
}