<div class="about-me section">
  <h1 class="about-me__heading heading-secondary">About Me</h1>
  <div class="about-me__image">&nbsp;</div>
  <div class="about-me__content content">
    <p>Hi there! My name's Erin Boehlert. I'm a software engineer with a focus in front-end development.</p>
    <br/>
    <p>
      While I do primarily development work, I also dabble in design. 
      My passion for both art & science has led me to constantly searh for new ways to merge the two worlds,
      and web design/development has proven to be one of my favorites!
    </p>
    <br/>
    <p>When I'm not coding, you'll find me rock climbing, practicing yoga, reading, or cooking delicious vegan food.</p>
  </div>
  <div class="about-me__arrow section__arrow">
      <mat-icon svgIcon="down-arrow"></mat-icon>
  </div>
</div>
