<div class="projects section">
    <h1 class="projects__header heading-secondary">Projects</h1>
    <h2 class="projects__subheader">Coming Soon</h2>
    <!-- <div class="projects__row">
        <mat-card class="projects__project-card project-card--p1 col-1-of-3">
            <mat-card-header>
                <div mat-card-avatar class="project__header-image--h1"></div>
                <mat-card-title>Project 1</mat-card-title>
                <mat-card-subtitle>Description</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit itaque ad commodi magnam. Minima sit culpa ea animi, aliquid incidunt officiis totam odio necessitatibus saepe perferendis quisquam eos tenetur!</p>
            </mat-card-content>
        </mat-card>
            
        <mat-card class="projects__project-card project-card--p2 col-1-of-3">
            <mat-card-header>
                <div mat-card-avatar class="project__header-image--h2"></div>
                <mat-card-title>Project 2</mat-card-title>
                <mat-card-subtitle>Description</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente inventore id dignissimos quia minima quam dolor architecto culpa quis ea nobis debitis porro omnis fugiat vero quibusdam cumque amet.</p>
            </mat-card-content>
        </mat-card>
            
        <mat-card class="projects__project-card project-card--p3 col-1-of-3">
            <mat-card-header>
                <div mat-card-avatar class="project__header-image--h3"></div>
                <mat-card-title>Project 3</mat-card-title>
                <mat-card-subtitle>Description</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, a mollitia. Adipisci necessitatibus quisquam, nisi aliquid, quas mollitia alias aspernatur harum sint totam facilis explicabo soluta voluptates ipsam repellendus accusantium.</p>
            </mat-card-content>
        </mat-card>
    </div> -->

    <div class="projects__arrow section__arrow">
        <mat-icon svgIcon="down-arrow"></mat-icon>
    </div>
</div>