@import '../sass/main';
.projects {
    position: relative;
    color: $color-grey-dark;
    background-color: $color-grey-light;
    text-align: center;
    padding-bottom: 5em;
    @include border-frame($color-grey-dark);

    &__header {
        padding-top: 5rem;
        margin-top: 0;
    }

    &__subheader {
        font-weight: 300;
        text-align: center;
        margin-top: 1rem;
    }

    &__row {
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;
    }

    &__project-card {
        max-width: 25rem;
        margin: 2rem;
    }

    &__arrow {
        bottom: 1em;
        color: $color-grey-dark;
        @include horizontal-center;
    }
}

// for small devices
@media only screen and (max-width: $small-screen) {
    .about-me {
        &__header {
            font-size: $default-font-size;
        }
    }
}