<div class="contact-me">
    <div class="contact-me__content">
        <h4 class="contact-me__text heading-secondary">If you'd like to know more about me:</h4> 
        <div class="contact-me__links">
            <a href="https://www.linkedin.com/in/boehlerte/" target="_blank"><img src="../../assets/linkedin-icon.png" alt="LinkedIn"></a> 
            <a href="https://github.com/boehlerte" target="_blank"><img src="../../assets/github-icon.svg" alt="GitHub"></a>
            <a href="mailto:eringraceboehlert@gmail.com"><img src="../../assets/email-icon.png" alt="Email"></a> 
        </div>
    </div>
        
    <div class="contact-me__arrow">
        <mat-icon svgIcon="down-arrow"></mat-icon>
    </div>
</div>