@import '../sass/main';

.contact-me {
    height: 100vh;
    min-height: 40rem;
    background-image: linear-gradient(to right bottom, rgba($color-secondary, .7), rgba($color-secondary-dark, .95)), url('../../assets/water-texture.jpg');
    background-size: cover;
    position: relative;
    color: $color-grey-light;
    text-align: center;

    &__content {
        @include absolute-center;
        width: 100%;
    }

    &__text {
        padding: 0 2rem;
    }
    
    &__links {
        padding-top: 5rem;
        img {
            width: 10rem;
            padding: 0 5rem;
        }
    }

    &__arrow {
        top: 95%;
        @include horizontal-center;
    }
}

// for mobile x-small devices
@media only screen and (max-width: 425px) {
    .contact-me {
        &__links {
            img {
                width: 5rem;
                padding: 2rem;
            }
        }
    }
}

// for small devices
@media only screen and (max-width: $small-screen) {
    .contact-me {
        &__links {
            img {
                width: 5rem;
                padding: 2rem;
            }
        }
    }
}