<div class="contact-me section">
        <div class="contact-me__content">
            <div class="contact-me__content--text heading-secondary">If you'd like to know more about me or see more of my work:</div> 
        </div>
        <div class="contact-me__links row">
            <a class="col-1-of-3" href="https://www.linkedin.com/in/boehlerte/" target="_blank"><img src="../../assets/linkedin-icon.png" alt="LinkedIn"></a> 
            <a class="col-1-of-3" href="https://github.com/boehlerte" target="_blank"><img src="../../assets/github-icon.svg" alt="GitHub"></a>
            <a class="col-1-of-3" href="mailto:eringraceboehlert@gmail.com"><img src="../../assets/email-icon.png" alt="Email"></a> 
        </div>
        <div class="contact-me__arrow section__arrow">
            <mat-icon svgIcon="down-arrow"></mat-icon>
        </div>
</div>