<div class="main-container">
  <div class="header">
    <div class="header__image" [ngStyle]="{'background-image': 'linear-gradient(to right bottom, rgba(65, 105, 225, 0.85), 
      rgba(5, 8, 49, .85)), url('+backgroundUrl+')'}">
    </div>
    <div class="header__title">
      <div class="header__title--name">Erin Boehlert</div>
      <div class="header__title--description">Dream <span class="header__title--spacer">|</span> Design <span class="header__title--spacer">|</span> Develop</div>
    </div>
    <div class="header__navigation row">
      <div class="col-1-of-3 header__section"><a class="header__navigation--link" href="#about-me">About Me</a></div>
      <div class="col-1-of-3 header__section"><a class="header__navigation--link" href="#projects">Projects</a></div>
      <div class="col-1-of-3 header__section"><a class="header__navigation--link" href="#contact-me">Contact Me</a></div>
    </div>
  </div>

  <div class="body">
    <div class="body__about-me" id="about-me">
      <about-me></about-me>
    </div>
    <div class="body__projects" id="projects">
      <projects></projects>
    </div>
    <div class="body__contact-me" id="contact-me">
      <contact-me></contact-me>
    </div>
  </div>
  
  <div class="footer">
    Footer here!
  </div>
</div>

