<div class="main-container">
  <div class="header">
    <div class="header__content">
      <h1 class="header__content--name heading-primary lg-screen">erin boehlert</h1>
      <h1 class="header__content--name heading-primary sm-screen">eb</h1>
      <h3 class="header__content--description heading-secondary">Design & Develop</h3>
    </div>
    <div class="header__arrow">
      <mat-icon svgIcon="down-arrow"></mat-icon>
    </div>
  </div>

  <div class="body">
    <div class="body__about-me" id="about-me">
      <about-me></about-me>
    </div>
    <div class="body__projects" id="projects">
      <projects></projects>
    </div>
    <div class="body__contact-me" id="contact-me">
      <contact-me></contact-me>
    </div>
  </div>
  
  <div class="footer">
    <a href="../assets/resume.pdf"><h4 class="footer__content heading-secondary">Download resume here</h4></a>
  </div>
</div>

