<div class="main-container">
  <div class="header">
    <div class="header__content">
      <div class="header__content--name heading-primary lg-screen">erin boehlert</div>
      <div class="header__content--name heading-primary sm-screen">eb</div>
      <div class="header__content--description heading-secondary">Design & Develop</div>
    </div>
    <div class="header__arrow section__arrow">
      <mat-icon svgIcon="down-arrow"></mat-icon>
    </div>
  </div>

  <div class="body">
    <div class="body__about-me" id="about-me">
      <about-me></about-me>
    </div>
    <div class="body__projects" id="projects">
      <projects></projects>
    </div>
    <div class="body__contact-me" id="contact-me">
      <contact-me></contact-me>
    </div>
  </div>
  
  <div class="footer">
    <div class="footer__content">
      <!-- TODO: hook up resume -->
      Download resume here
    </div> 
  </div>
</div>

