.footer {
    height: 25rem;
    position: relative;
    background-color: $color-grey-light;

    &__content {
        @include absolute-center;
        @include double-border;

        color: $color-grey-dark;
        text-align: center;
        border: 1px solid $color-grey-dark;
        padding: 5rem;
    }

    a {
        &:hover {
            cursor: pointer;
        }
    }
}

// for mobile x-small screen
@media only screen and (max-width: 425px) {
    .footer {
        &__content {
            padding: 3.5rem;
        }
    }
}