.header {
    background-color: $color-grey-light;
    height: 100vh;
    text-align: center;
    color: $color-grey-dark;

    &__content {
        max-width: 100rem;
        width: 65%;
        padding: 8rem;
        border: 1px solid $color-grey-dark;
        position: relative;

        @include double-border;
        @include absolute-center;

        &--description {
            margin-bottom: 4rem;
        }
    }

    &__arrow {
        top: 95%;
        @include horizontal-center;
    }
}

.sm-screen {
    display: none;
}

// for large devices
@media only screen and (max-width: $large-screen) {
    .header {
        &__content {
            padding: 5rem;
        }
    }
}

// for small devices
@media only screen and (max-width: $small-screen) {
    .header {
        &__content {
            padding: 3rem;
        }
    }
    
    .lg-screen {
        display: none;
    }

    .sm-screen {
        display: inline-block;
        font-size: 5rem;
    }
}