.header {
    height: 100vh;
    text-align: center;

    &__content {
        max-width: 100rem;
        width: 65%;
        padding: 8rem;
        border: 1px solid $color-grey-dark;
        position: relative;

        &::before {
            position: absolute;
            top: 1rem;
            left: 1rem;
            bottom: 1rem;
            right: 1rem;
            content: '';
            border: 1px solid $color-grey-dark;
        }

        @include absolute-center;
    
        &--name {
            color: $color-grey-dark;
            font-size: $x-large-font-size;
        }
        &--description {
            margin-bottom: 5rem;
            color: $color-grey-dark;
            font-size: $default-font-size;
        }
    }

    &__arrow {
        color: $color-grey-dark;
    }
}

.sm-screen {
    display: none;
}

// for large devices
@media only screen and (max-width: $large-screen) {
    .header {
        &__content {
            padding: 5rem;
            &--name {
                font-size: $large-font-size;
            }
            &--description {
                font-size: $small-font-size;
            }
        }
    }
}

// for medium devices
@media only screen and (max-width: $medium-screen) {
    .header {
        &__content {
            padding: 5rem;
            &--name {
                font-size: $medium-font-size;
            }
            &--description {
                font-size: $small-font-size;
            }
        }
    }
}

// for small devices
@media only screen and (max-width: $small-screen) {
    .header {
        &__content {
            padding: 3rem;
            &--name {
                // content changes from 'erin boehlert' to 'eb'
                font-size: $x-large-font-size;
            }
            &--description {
                letter-spacing: .5rem;
                width: 100%;
                font-size: $small-font-size;
            }
        }
    }
    
    .lg-screen {
        display: none;
    }

    .sm-screen {
        display: inline-block;
    }
}