@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin double-border {
    &::before {
        position: absolute;
        top: 1rem;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        content: '';
        border: 1px solid $color-grey-dark;
    }
}

@mixin border-frame {
    &::before {
        position: absolute;
        top: 1rem;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        content: '';
        border: 1px solid $color-grey-light;
    }
}