// colors
$color-primary: #133072;
$color-primary-light: #b6d1eb;
$color-primary-dark: #050831;

$color-secondary: #d5adfb;

$color-tertiary: #f90052;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font 
$default-font-size: 2rem;
$small-font-size: 1rem;
$large-font-size: 3rem;
$x-large-font-size: 5rem;

