// colors
$color-primary: #3d774e;
$color-primary-light: rgb(145, 185, 150);
$color-primary-light-2: rgb(120, 134, 81);
$color-primary-dark: #31613f;

$color-secondary: rgb(29, 107, 170);
$color-secondary-dark: rgb(12, 62, 104);



$color-tertiary:rgb(187, 49, 118);
$color-gold: #C39953;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: rgb(54, 54, 54);
$color-grey-light: rgb(245, 243, 243);

// grid
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;

// font 
$small-font-size: 2rem;
$default-font-size: 3rem;
$medium-font-size: 5rem;
$large-font-size: 8rem;
$x-large-font-size: 12rem;

// screen sizes
$large-screen: 1420px;
$medium-screen: 1000px;
$small-screen: 760px;

