.main-container {
    font-family: 'Montserrat', sans-serif;
}

.heading-primary {
    font-family: 'Meddon', cursive;
}

.heading-secondary {
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .75rem;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}
